section.answers {
  padding-bottom: 50px;
}

.answers-title {
  font-size: medium;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -15px;
  color: #a8a8a8;
}
.answers-container {
  border-left: 2px solid #a8a8a8;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #101216;
  margin: 0 auto;
  position: relative;
  padding: 70px 0 0px 0;
  list-style: none;
  max-width: 50%;
}
.answers-container:before {
  left: -8px;
  top: -75px;
  background: #a8a8a8;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  content: "";
  position: absolute;
  display: block;
  top: 0;
}

.answer {
  padding-left: 30px;
  margin-bottom: 40px;
  position: relative;
  font-family: "Quicksand";
  font-weight: bold;
  word-wrap: break-word;
}
.answer:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.answer:before,
.answer:after {
  position: absolute;
  display: block;
  top: 0;
}
.answer:before {
  content: attr(data-date);
  font-weight: bold;
  color: #e678a7;
  text-align: center;
  background-color: white;
  left: -20px;
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {
  /*welcome section media query*/
  .answers-container {
    max-width: 80%;
  }
}
