section {
  display: flex;
}

.container-welcome {
  display: flex;
  flex-direction: column;
}

.loggin {
  display: flex;
  flex-direction: column;
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-container {
  padding: 20px;
}
