.login-container {
  display: flex;
}

.container-welcome {
  flex: 1;
  padding: 40px;
}

.login {
  display: block;
  text-align: center;
}

.login > * {
  display: block;
  margin-bottom: 20px;
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-container {
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
}

.alert {
  margin: 20px 0;
  max-width: 100;
}
.principal-title {
  text-align: center;
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {
  /*welcome section media query*/

  .login-container {
    display: block;
  }
}
